html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
.img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a[class] {
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Merriweather', serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Raleway', sans-serif; */
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* --------- header------------ */
.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__list {
  display: flex;
}
.menu__list-link + .menu__list-link {
  margin-left: 32px;
}
.menu__list-link {
  padding: 0 9px 9px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #373a39;
  text-transform: uppercase;
}
